-- I've already created a database called pydango

-- USE pydango

-- CREATE TABLE statements for the py-dango project (movie theater reservation system)

-- account TABLE

CREATE TABLE account(
    account_id INT AUTO_INCREMENT PRIMARY KEY,
    email VARCHAR(255) UNIQUE NOT NULL,
    credit_card BIGINT,
    password VARCHAR(255) NOT NULL,
    zip_code INTEGER(5) NOT NULL,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    created DATETIME DEFAULT NOW(),
    updated DATETIME ON UPDATE NOW()
);

-- INSERT FIRST ROW
--      Make sure to use the SHA1 hashing algorithm to protect passwords
INSERT INTO account (email, credit_card, password, zip_code, first_name, last_name)
VALUES
('abby@gmail.com', 1111111111111111, SHA1('123abby'), 89123, 'Abby', 'Lee');

-- Verify
SELECT * FROM account;

-- Verify that the updated field works
UPDATE account
SET email = 'abbi@gmail.com'
WHERE email = 'abby@gmail.com';

-- Insert more account data
INSERT INTO account (email, credit_card, password, zip_code, first_name, last_name)
VALUES
('bobbi@gmail.com', 2222222222222222, SHA1('123bobbi'), 89123, 'Bobbi', 'Lee'),
('cathi@gmail.com', 3333333333333333, SHA1('123cathi'), 89123, 'Cathi', 'Lee'),
('dicki@gmail.com', 4444444444444444, SHA1('123dicki'), 89128, 'Dicki', 'Lee'),
('Eeri@gmail.com', 5555555555555555, SHA1('123eeri'), 89128, 'Eeri', 'Lee'),
('Fendi@gmail.com', 6666666666666666, SHA1('123fendi'), 89128, 'Fendi', 'Lee');


-- director TABLE

CREATE TABLE director (
    director_id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50)
);

-- INSERT data

INSERT INTO director (first_name, last_name)
VALUES
('Martin', 'Scorsese'),
('Quentin', 'Tarantino'),
('Steven', 'Spielberg'),
('Stanley', 'Kubrick'),
('Christopher', 'Nolan'),
('Ridley', 'Scott');

SELECT * FROM director;

-- Results
-- +-------------+-------------+-----------+
-- | director_id | first_name  | last_name |
-- +-------------+-------------+-----------+
-- |           1 | Martin      | Scorsese  |
-- |           2 | Quentin     | Tarantino |
-- |           3 | Steven      | Spielberg |
-- |           4 | Stanley     | Kubrick   |
-- |           5 | Christopher | Nolan     |
-- |           6 | Ridley      | Scott     |
-- +-------------+-------------+-----------+

-- actor TABLE

CREATE TABLE actor (
    actor_id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    birth_day DATE,
    age INT
);

-- Create a Trigger for to automatically calculate age from the birth_day attribute

DELIMITER $$

CREATE TRIGGER before_actor_insert
BEFORE INSERT ON actor
FOR EACH ROW
BEGIN
    SET NEW.age = ROUND(DATEDIFF(CURDATE(), NEW.birth_day) / 365.25, 0);
END $$

DELIMITER ;

-- Verify the trigger exists
SHOW TRIGGERS;

-- Verify the trigger works
INSERT INTO actor (first_name, last_name, birth_day)
VALUES
('Tom', 'Hardy', '1977-09-15');

SELECT * FROM actor;

-- RESULT
-- +----------+------------+-----------+------------+------+
-- | actor_id | first_name | last_name | birth_day  | age  |
-- +----------+------------+-----------+------------+------+
-- |        3 | Tom        | Hardy     | 1977-09-15 |   43 |
-- +----------+------------+-----------+------------+------+


-- Insert more actors

INSERT INTO actor (first_name, last_name, birth_day)
VALUES
('Christian', 'Bale', '1974-01-30'),
('Anne', 'Hathaway', '1982-11-12'),
('Cillian', 'Murphy', '1976-05-25'),
('Marion', 'Cotillard', '1975-09-30'),
('Joseph', 'Levitt', '1981-02-17');

-- Results
-- +----------+------------+-----------+------------+------+
-- | actor_id | first_name | last_name | birth_day  | age  |
-- +----------+------------+-----------+------------+------+
-- |        3 | Tom        | Hardy     | 1977-09-15 |   43 |
-- |        4 | Christian  | Bale      | 1974-01-30 |   47 |
-- |        5 | Anne       | Hathaway  | 1982-11-12 |   38 |
-- |        6 | Cillian    | Murphy    | 1976-05-25 |   45 |
-- |        7 | Marion     | Cotillard | 1975-09-30 |   45 |
-- |        8 | Joseph     | Levitt    | 1981-02-17 |   40 |
-- +----------+------------+-----------+------------+------+


-- movie_category TABLE

CREATE TABLE movie_category (
    category_id INT AUTO_INCREMENT PRIMARY KEY,
    category_name VARCHAR(50)
);

INSERT INTO movie_category (category_name)
VALUES
('Drama'),
('Action'),
('Horror'),
('Scifi'),
('Romance'),
('Comedy');

SELECT * FROM movie_category;

-- Results
-- +-------------+---------------+
-- | category_id | category_name |
-- +-------------+---------------+
-- |           1 | Drama         |
-- |           2 | Action        |
-- |           3 | Horror        |
-- |           4 | Scifi         |
-- |           5 | Romance       |
-- |           6 | Comedy        |
-- +-------------+---------------+

-- movie TABLE

CREATE TABLE movie (
    movie_id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(50) NOT NULL,
    year VARCHAR(5),
    rating VARCHAR(5),
    length_min INT(5),
    description TEXT,
    director_id INT,
    category_id INT,
    start_date DATE,
    end_date DATE,
    active BOOLEAN,
    FOREIGN KEY (director_id) REFERENCES director(director_id)
    ON DELETE RESTRICT,
    FOREIGN KEY (category_id) REFERENCES movie_category(category_id)
    ON DELETE RESTRICT
);

-- Create a Trigger for `active` field based on start_date and end_date
-- if NOW() within start_date and end_date, then true, else false

DELIMITER $$

CREATE TRIGGER before_movie_insert
BEFORE INSERT ON movie
FOR EACH ROW
BEGIN
    IF NOW() BETWEEN NEW.start_date AND NEW.end_date
    THEN SET NEW.active = true;
    ELSE SET NEW.active = false;

    END IF;
END $$

DELIMITER ;

-- Insert a movie

INSERT INTO movie (
    title,
    year,
    rating,
    length_min,
    description,
    director_id,
    category_id,
    start_date,
    end_date
)
VALUES
('Interstellar', '2014', 'PG-13', 169, 'Apocalypse, Black Hole, Time Travel, Astronauts',
5, 4, '2021-1-7', '2021-07-07');

-- Verify
SELECT * FROM movie;

-- Insert  more movie data


-- Insert more actor data
INSERT INTO actor (first_name, last_name, birth_day)
VALUES
('Matthew', 'McConaughey', '1969-11-04'),
('Sigourney', 'Weaver', '1949-10-08'),
('Matt', 'Damon', '1970-10-08'),
('Bruce', 'Willis', '1955-03-19'),
('Samuel', 'Jackson', '1948-12-21'),
('Macolm', 'McDowell', '1943-06-13');

-- Here we make a Many-To-Many Relation so I'm adding more data
-- Insert more movie data


-- Create movie_actor TABLE is a Junction Table to connect the movie TABLE and actor TABLE 
-- in Many-To-Many Relationship

CREATE TABLE movie_actor (
    movie_id INT NOT NULL,
    actor_id INT NOT NULL,
    role VARCHAR(20),
    PRIMARY KEY(movie_id, actor_id),
    FOREIGN KEY(movie_id) REFERENCES movie(movie_id)
    ON DELETE CASCADE,
    FOREIGN KEY(actor_id) REFERENCES actor(actor_id)
    ON DELETE CASCADE
);

-- Insert movie and actor data
INSERT INTO movie_actor (movie_id, actor_id, role)
VALUES
(1, 5, 'Supporting'),
(1, 9, 'Primary'),
(1, 11, 'Supporting'),
(2, 11, 'Primary'),
(3, 12, 'Primary'),
(3, 13, 'Primary'),
(4, 13, 'Supporting'),
(5, 14, 'Primary'),
(6, 10, 'Primary'),
(7, 9, 'Supporting'),
(8, 5, 'Supporting'),
(9, 3, 'Primary'),
(10, 3, 'Supporting'),
(10, 7, 'Supporting'),
(10, 8, 'Supporting');

-- Use two INNER JOINs to with the movie_actor TABLE to see which actors were in
-- which movies

SELECT m.movie_id, m.title, a.actor_id, a.first_name, a.last_name, role
FROM movie m
INNER JOIN movie_actor
ON m.movie_id = movie_actor.movie_id
INNER JOIN actor a
ON a.actor_id = movie_actor.actor_id;

-- Result

-- +----------+-------------------------+----------+------------+-------------+------------+
-- | movie_id | title                   | actor_id | first_name | last_name   | role       |
-- +----------+-------------------------+----------+------------+-------------+------------+
-- |        1 | Interstellar            |        5 | Anne       | Hathaway    | Supporting |
-- |        1 | Interstellar            |        9 | Matthew    | McConaughey | Primary    |
-- |        1 | Interstellar            |       11 | Matt       | Damon       | Supporting |
-- |        2 | The Departed            |       11 | Matt       | Damon       | Primary    |
-- |        3 | Pulp Fiction            |       12 | Bruce      | Willis      | Primary    |
-- |        3 | Pulp Fiction            |       13 | Samuel     | Jackson     | Primary    |
-- |        4 | Jurassic Park           |       13 | Samuel     | Jackson     | Supporting |
-- |        5 | A Clockwork Orange      |       14 | Macolm     | McDowell    | Primary    |
-- |        6 | Aliens                  |       10 | Sigourney  | Weaver      | Primary    |
-- |        7 | The Wolf of Wall Street |        9 | Matthew    | McConaughey | Supporting |
-- |        8 | The Dark Knight         |        5 | Anne       | Hathaway    | Supporting |
-- |        9 | Dunkirk                 |        3 | Tom        | Hardy       | Primary    |
-- |       10 | Inception               |        3 | Tom        | Hardy       | Supporting |
-- |       10 | Inception               |        7 | Marion     | Cotillard   | Supporting |
-- |       10 | Inception               |        8 | Joseph     | Levitt      | Supporting |
-- +----------+-------------------------+----------+------------+-------------+------------+


-- Create theater TABLE

CREATE TABLE theater (
    theater_id INT AUTO_INCREMENT PRIMARY KEY,
    theater_name VARCHAR(50),
    ticket_price json,
    address VARCHAR(50),
    city VARCHAR(50),
    state VARCHAR(50),
    zip_code INT,
    open TIME,
    close TIME
);

-- Insert theater data

INSERT INTO theater (theater_name, ticket_price, address, city, state, zip_code, open, close)
VALUES
('AMC Rainbow', '{"child": 5.99, "adult": 9.99}', '1234 Rainbow Rd.',
'Las Vegas', 'NV', 89123, '9:00:00', '21:00:00');

-- Insert more theater data
INSERT INTO theater (theater_name, ticket_price, address, city, state, zip_code, open, close)
VALUES
('AMC Town Square', '{"child": 6.99, "adult": 11.99}', '1234 Las Vegas Blvd',
'Las Vegas', 'NV', 89123, '8:00:00', '23:00:00'),
('Red Rock Movies', '{"child": 3.99, "adult": 7.99}', '1234 Red Rock Dr',
'Las Vegas', 'NV', 89128, '12:00:00', '23:00:00');


-- Create a theater_movie Junction TABLE that will allow Many-to-Many Relation between
-- theater and movie TABLES

CREATE TABLE theater_movie (
    theater_id INT NOT NULL,
    movie_id INT NOT NULL,
    num_of_screens INT,
    PRIMARY KEY(theater_id, movie_id),
    FOREIGN KEY(theater_id) REFERENCES theater(theater_id)
    ON DELETE CASCADE,
    FOREIGN KEY(movie_id) REFERENCES movie(movie_id)
    ON DELETE CASCADE
);

-- Insert data into theater_movie Junction TABLE

INSERT INTO theater_movie (theater_id, movie_id, num_of_screens)
VALUES
(1, 1, 3),
(1, 2, 2),
(1, 5, 1),
(1, 6, 2),
(1, 8, 2),
(2, 1, 3),
(2, 8, 3),
(2, 9, 3),
(2, 10, 3),
(3, 1, 1),
(3, 2, 1),
(3, 3, 1),
(3, 4, 1),
(3, 5, 1),
(3, 6, 1),
(3, 7, 1),
(3, 8, 1),
(3, 9, 1),
(3, 10, 1);

-- Just as we did before we can use theater_movie Junction TABLE to connect
-- The theater and movie TABLES to see which movie theaters are playing which movies

SELECT theater_name, title, num_of_screens
FROM theater
INNER JOIN theater_movie
ON theater.theater_id = theater_movie.theater_id
INNER JOIN movie
ON movie.movie_id = theater_movie.movie_id;

-- +-----------------+-------------------------+----------------+
-- | theater_name    | title                   | num_of_screens |
-- +-----------------+-------------------------+----------------+
-- | AMC Rainbow     | Interstellar            |              3 |
-- | AMC Rainbow     | The Departed            |              2 |
-- | AMC Rainbow     | A Clockwork Orange      |              1 |
-- | AMC Rainbow     | Aliens                  |              2 |
-- | AMC Rainbow     | The Dark Knight         |              2 |
-- | AMC Town Square | Interstellar            |              3 |
-- | AMC Town Square | The Dark Knight         |              3 |
-- | AMC Town Square | Dunkirk                 |              3 |
-- | AMC Town Square | Inception               |              3 |
-- | Red Rock Movies | Interstellar            |              1 |
-- | Red Rock Movies | The Departed            |              1 |
-- | Red Rock Movies | Pulp Fiction            |              1 |
-- | Red Rock Movies | Jurassic Park           |              1 |
-- | Red Rock Movies | A Clockwork Orange      |              1 |
-- | Red Rock Movies | Aliens                  |              1 |
-- | Red Rock Movies | The Wolf of Wall Street |              1 |
-- | Red Rock Movies | The Dark Knight         |              1 |
-- | Red Rock Movies | Dunkirk                 |              1 |
-- | Red Rock Movies | Inception               |              1 |
-- +-----------------+-------------------------+----------------+


-- theater_schedule TABLE
-- theater_schedule is weak entity relationship that is derived from the theater entity
-- because there is no theater_schedule without theater

CREATE TABLE theater_schedule (
    theater_id INT NOT NULL,
    movie_id INT NOT NULL,
    time TIME NOT NULL,
    seats_available INT,
    PRIMARY KEY(theater_id, movie_id, time),
    FOREIGN KEY(theater_id) REFERENCES theater(theater_id)
    ON DELETE CASCADE,
    FOREIGN KEY(movie_id) REFERENCES movie(movie_id)
    ON DELETE CASCADE
);

-- Insert theater_schedule data
INSERT INTO theater_schedule (theater_id, movie_id, time, seats_available)
VALUES
(1, 1, '11:00:00', 100),
(1, 2, '12:00:00', 100),
(1, 5, '13:00:00', 100),
(1, 6, '14:00:00', 100),
(1, 8, '14:00:00', 100),
(2, 1, '14:00:00', 100),
(2, 8, '13:00:00', 100),
(2, 9, '17:00:00', 100),
(2, 10, '14:00:00', 100),
(3, 1, '12:00:00', 100),
(3, 2, '13:00:00', 100),
(3, 3, '14:00:00', 100),
(3, 4, '15:00:00', 100),
(3, 5, '16:00:00', 100),
(3, 6, '17:00:00', 100),
(3, 7, '18:00:00', 100),
(3, 8, '19:00:00', 100),
(3, 9, '12:00:00', 100),
(3, 10, '13:00:00', 100);


-- Connect theater and movie TABLEs with theater_schedule junction TABLE

SELECT theater.theater_name, movie.title, time, seats_available
FROM theater
INNER JOIN theater_schedule
ON theater.theater_id = theater_schedule.theater_id
INNER JOIN movie
ON movie.movie_id = theater_schedule.movie_id;

-- Result

-- +-----------------+-------------------------+----------+-----------------+
-- | theater_name    | title                   | time     | seats_available |
-- +-----------------+-------------------------+----------+-----------------+
-- | AMC Rainbow     | Interstellar            | 11:00:00 |             100 |
-- | AMC Rainbow     | The Departed            | 12:00:00 |             100 |
-- | AMC Rainbow     | A Clockwork Orange      | 13:00:00 |             100 |
-- | AMC Rainbow     | Aliens                  | 14:00:00 |             100 |
-- | AMC Rainbow     | The Dark Knight         | 14:00:00 |             100 |
-- | AMC Town Square | Interstellar            | 14:00:00 |             100 |
-- | AMC Town Square | The Dark Knight         | 13:00:00 |             100 |
-- | AMC Town Square | Dunkirk                 | 17:00:00 |             100 |
-- | AMC Town Square | Inception               | 14:00:00 |             100 |
-- | Red Rock Movies | Interstellar            | 12:00:00 |             100 |
-- | Red Rock Movies | The Departed            | 13:00:00 |             100 |
-- | Red Rock Movies | Pulp Fiction            | 14:00:00 |             100 |
-- | Red Rock Movies | Jurassic Park           | 15:00:00 |             100 |
-- | Red Rock Movies | A Clockwork Orange      | 16:00:00 |             100 |
-- | Red Rock Movies | Aliens                  | 17:00:00 |             100 |
-- | Red Rock Movies | The Wolf of Wall Street | 18:00:00 |             100 |
-- | Red Rock Movies | The Dark Knight         | 19:00:00 |             100 |
-- | Red Rock Movies | Dunkirk                 | 12:00:00 |             100 |
-- | Red Rock Movies | Inception               | 13:00:00 |             100 |
-- +-----------------+-------------------------+----------+-----------------+



-- payment TABLE
-- The idea here is that when a Ticket object gets created in the ticket TABLE
-- a series of triggers will set all the values for the payment TABLE

CREATE TABLE payment (
    payment_id INT PRIMARY KEY,
    credit_card BIGINT,
    paid BOOLEAN
);

-- ticket TABLE
-- The ticket TABLE has a One-to-One Relation with theater_schedule and a
-- Many-to-One Relation with Account. 
-- One account can purhase one or more tickets, while one ticket is associated with
-- only one account

-- So ticket will encompass data about account, movie, theater, theater_schedule, and payment
-- information as well

CREATE TABLE ticket (
    ticket_id INT AUTO_INCREMENT PRIMARY KEY,
    theater_id INT NOT NULL,
    movie_id INT NOT NULL,
    time TIME NOT NULL,
    account_id INT NOT NULL,
    credit_card BIGINT NOT NULL,
    payment_id INT NOT NULL,
    quantity INT NOT NULL,
    total DECIMAL(5, 2),
    FOREIGN KEY(theater_id, movie_id, time) REFERENCES theater_schedule(theater_id, movie_id, time)
);


-- Create a trigger to update the value of Total cost of tickets from quantity
-- Assuming all ticket prices are 9.99
DELIMITER $$

CREATE TRIGGER before_ticket_insert
BEFORE INSERT ON ticket
FOR EACH ROW
BEGIN
    SET NEW.total = NEW.quantity * 9.99;
END $$

DELIMITER ;

-- Create a trigger to insert values into the payment TABLE

DELIMITER $$

CREATE TRIGGER after_ticket_insert
AFTER INSERT ON ticket
FOR EACH ROW
BEGIN
  INSERT INTO payment
  SET payment_id = NEW.payment_id,
      credit_card = NEW.credit_card,
      paid = true;
END $$

DELIMITER ;



-- Now let's try to add some data to the ticket table to see if tht trigger works

-- But before we do that let's create a VIEW to work off of so it's easier to know
-- which values to INSERT

CREATE VIEW schedule AS
SELECT theater.theater_id, theater.theater_name, movie.movie_id, movie.title, time, seats_available
FROM theater
INNER JOIN theater_schedule
ON theater.theater_id = theater_schedule.theater_id
INNER JOIN movie
ON movie.movie_id = theater_schedule.movie_id;

-- Verify the VIEW
SELECT * FROM schedule;


-- Now let's add the data
INSERT INTO ticket(
    theater_id,
    movie_id,
    time,
    account_id,
    credit_card,
    payment_id,
    quantity
)
VALUES
(1, 1, '11:00:00', 1, 111111111111, 1234, 4);

-- Add some more values to the ticket TABLE

INSERT INTO ticket(
    theater_id,
    movie_id,
    time,
    account_id,
    credit_card,
    payment_id,
    quantity
)
VALUES
(2, 8, '13:00:00', 2, 2222222222222222, 4444, 1),
(1, 2, '12:00:00', 3, 3333333333333333, 5432, 3);


-- Verify
SELECT * FROM ticket;

-- +-----------+------------+----------+----------+------------+------------------+------------+----------+-------+
-- | ticket_id | theater_id | movie_id | time     | account_id | credit_card      | payment_id | quantity | total |
-- +-----------+------------+----------+----------+------------+------------------+------------+----------+-------+
-- |         3 |          1 |        1 | 11:00:00 |          1 |     111111111111 |       1234 |        4 | 39.96 |
-- |         4 |          2 |        8 | 13:00:00 |          2 | 2222222222222222 |       4444 |        1 |  9.99 |
-- |         5 |          1 |        2 | 12:00:00 |          3 | 3333333333333333 |       5432 |        3 | 29.97 |
-- +-----------+------------+----------+----------+------------+------------------+------------+----------+-------+


SELECT * FROM payment;

-- +------------+------------------+------+
-- | payment_id | credit_card      | paid |
-- +------------+------------------+------+
-- |       1234 |     111111111111 |    1 |
-- |       4444 | 2222222222222222 |    1 |
-- |       5432 | 3333333333333333 |    1 |
-- +------------+------------------+------+













